<!doctype html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Material Design风格用户注册登录界面设计 </title>
	<!-- <link rel="stylesheet" type="text/css" href="css/normalize.css" /> -->
	<link rel="stylesheet" href="__PUBLIC__/css/default.css" type="text/css">
	<link rel="stylesheet" href="__PUBLIC__/css/materialize.min.css">
	<link rel="stylesheet" href="__PUBLIC__/css/grid.css">
	<style type="text/css">
	html,
	body {
	    height: 100%;
	}
	html {
	    display: table;
	    margin: auto;
	}
	body {
	    display: table-cell;
	    vertical-align: middle;
	}
	.margin {
	  margin: 0 !important;
	}
	#tip-img{
		width:5rem;
		height:5rem;
	}
	.tip{
		display: none;
	}
	.tip-failed{
		display:none;
	}
	.tip a{
		margin-top: 0.8rem;
		margin-bottom: 1rem;
	}
	</style>
	<!--[if IE]>
		<script src="http://libs.useso.com/js/html5shiv/3.7/html5shiv.min.js"></script>
	<![endif]-->
	<script>
		var timer;
		var sec = 120;
		var low = 119;
		var url = "{:U('Home/Server/reset')}"
		function mobile_verify(){
			$(".mobile-verify").show();
			$(".email-verify").hide();
		}
		function email_verify(){
			$(".mobile-verify").hide();
			$(".email-verify").show();
		}
		function send_code(){
			$(".msg").hide();
			var mobile = document.getElementById("mobile").value;
			if(mobile == ''){
				msg(1,'手机号不能为空！');
				return true;
			}else if(!(/^1(3|4|5|7|8)\d{9}$/.test(mobile))){
				msg(1,'请填写正确的手机号！');
				return true;
			}
			document.getElementById("re-send").innerText = '发送成功';
			timer = setInterval(clock,1000);
			$("#get-code").hide();
			$("#resend").show();
		}
		function clock(){
			sec--;
			if(sec>low){
				document.getElementById("re-send").innerText = '发送成功';
			}else if(sec > 0){
				document.getElementById("re-send").innerText = sec+"秒后重新发送";
			}else{
				clearInterval(timer);
				sec = 120;
				$("#resend").hide();
				$("#get-code").show();
			}
		}
		function msg(type,msg){
			document.getElementById("msg").innerText = msg;
			if(type == 1){
				$(".msg").show();
			}else{
				$(".msg").hide();
			}
		}
		function mobile_reset(){
			msg(2,'');
			var result = check_input(1);
			if(!result){
				return false;
			}
			var mobile = document.getElementById("mobile").value;
			var code = document.getElementById("msg_code").value;
			$.post("reseter",{mobile,code},function(data){
				if(data.status == 1){
					var appId = document.getElementById("appId").value;
					var callback = document.getElementById("callback").value;
					window.location.href = url+"?name="+mobile+"&code="+data.data+"&appId="+appId+"&callback="+callback;
					return true;
				}else{
					msg(1,data.info);
					return false;
				}
			});
		}
		function check_input(type){
			if(type == 1){
				var mobile = document.getElementById("mobile").value;
				var code = document.getElementById("msg_code").value;
				if(mobile == ''){
					msg(1,'手机号不能为空！');
					return false;
				}else if(!(/^1(3|4|5|7|8)\d{9}$/.test(mobile))){
					msg(1,'请填写正确的手机号！');
					return false;
				}
				if(code == ''){
					msg(1,'验证码不能为空！');
					return false;
				}
			}else{
				var email = document.getElementById("email").value;
				var filter  = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
				if(email == ''){
					msg(1,'电子邮箱不能为空！');
					return false;
				}else if(!(filter.test(email))){
					msg(1,'请填写正确的电子邮箱！');
					return false;
				}
			}
			return true;
		}
		function email_reset(){
			msg(2,'');
			var result = check_input(2);
			if(!result){
				return false;
			}
			var email = document.getElementById("email").value;
			$.post("reseter",{email},function(data){
				if(data.status == 1){
					$(".reg-form").hide();
					$("#tip-img").attr("src",'/Public/img/swal2-success2.png');
					document.getElementById("tip-msg").innerText = data.info;
					$(".tip").show();
				}else{
					$(".reg-form").hide();
					document.getElementById("tip-msg").innerText = data.info;
					$("#tip-img").attr("src",'/Public/img/swal2-error.png');
					$(".tip-success").hide();
					$(".tip-failed").show();
					$(".tip").show();
				}
			});
		}
		function back(){
			$(".reg-form").show();
			$(".email-verify").hide();
			$(".msg").hide();
			$(".tip").hide();
		}
		function toMailCenter(){
			var email = document.getElementById("email").value;
			var pos = email.indexOf("@");
			var url = "http://www."+email.substr(pos+1);
			window.location.href=url;
		}
	</script>
</head>
<body class="yellow">
	<div id="login-page" class="row">
	    <div class="col s12 z-depth-6 card-panel">
	      <form class="login-form">
	        <div class="row">
	          <div class="input-field col s12 center">
	            <img src="__PUBLIC__/img/logo.png" alt="" class="responsive-img valign profile-image-login index-icon">
	            <p class="center login-form-text">Material Design 用户登录系统</p>
	             
	          </div>
	        </div>
	        <div class="row margin mobile-verify reg-form">
	          <div class="input-field col s12">
	            <i class="mdi-social-mobile-outline prefix"></i>
	            <input class="validate" name="mobile" id="mobile" type="text">
	            <label for="mobile" class="">手机号码</label> <!-- center-align -->
	            <button type="button" class="get-code" id="get-code" onclick="send_code();">获取验证码</button>
	            <button type="button" class="resend" id="resend" style="display:none;"><span id="re-send"></span></button>
	          </div>
	        </div>
	        <div class="row margin mobile-verify reg-form">
	          <div class="input-field col s12">
	            <i class="mdi-social-code-outline prefix"></i>
	            <input class="validate" id="msg_code" name="msg_code" type="text">
	            <label for="msg_code" class="">验证码</label> <!-- center-align -->
	          </div>
	        </div>
	        <div class="row margin email-verify reg-form">
	          <div class="input-field col s12">
	            <i class="mdi-social-email-outline prefix"></i>
	            <input class="validate" id="email" type="email">
	            <label for="email" class="">电子邮箱</label> <!-- center-align -->
	            <!-- <button type="button" class="get-code" id="get-email" onclick="send_email();">获取验证码</button>
	            <button type="button" class="resend" id="reemail" style="display:none;"><span id="re-email"></span>秒后重新发送</button> -->
	          </div>
	        </div>
	        <div class="row msg reg-form reg-form">          
	          <div class="input-field col s12 m12 l12  login-text">
	            <span id="msg"></span>
	          </div>
	        </div>
	        <div class="row mobile-verify reg-form">
	          <div class="input-field col s12">
	            <a href="javascript:void(0);" class="btn waves-effect waves-light col s12" id="mobile_reset" onclick="mobile_reset();">提交</a>
	          </div>
	        </div>
	        <div class="row email-verify reg-form">
	          <div class="input-field col s12">
	            <a href="javascript:void(0);" class="btn waves-effect waves-light col s12 email-verify" onclick="email_reset();">提交</a>
	          </div>
	        </div>
	        <div class="rows reg-form mobile-verify">
	          <div class="input-field col s6 m6 l6">
	            <p class="margin medium-small"><a href="javascript:void(0);" onclick="email_verify();">邮箱验证!</a></p>
	          </div>
	          <div class="input-field col s6 m6 l6">
	              <p class="margin right-align medium-small"><a href="{:U('Home/Server/index')}?appId={$appId}&callback={$callback}">登录</a></p>
	          </div>          
	        </div>
	        <div class="rows reg-form email-verify">
	          <div class="input-field col s6 m6 l6">
	            <p class="margin medium-small"><a href="javascript:void(0);" onclick="mobile_verify();">手机验证!</a></p>
	          </div>
	          <div class="input-field col s6 m6 l6">
	              <p class="margin right-align medium-small"><a href="{:U('Home/Server/index')}?appId={$appId}&callback={$callback}">登录</a></p>
	          </div>          
	        </div>
	        <div class="row group reg-form">
			 <div class="tagline"><span>第三方登录</span></div><!-- .tagline -->
			</div>
			<div class="row group reg-form">
			  <div class="col span_12_of_12 center">
				<a href="#"><img class="third-icon" src="__PUBLIC__/img/weixin.png"></a>
				<a href="#"><img class="third-icon" src="__PUBLIC__/img/68-sina-weibo.png" ></a>
				<a href="#"><img class="third-icon" src="__PUBLIC__/img/taobao.png" ></a>
				<a href="#"><img class="third-icon" src="__PUBLIC__/img/qq.png" ></a>
				<a href="#"><img class="third-icon" src="__PUBLIC__/img/didi.png" ></a>
				<a href="#"><img class="third-icon" src="__PUBLIC__/img/baidu.png" ></a>
				<a href="#"><img class="third-icon" src="__PUBLIC__/img/dianping.png" ></a>
			  </div>
			</div>
			<div class="row tip">
			  <div class="input-field col s12 center">
		        <img src="__PUBLIC__/img/swal2-success2.png" id="tip-img">
		        <h4 id="tip-msg"></h4>
		        <a href="javascript:void(0);" class="btn waves-effect waves-light col s12 tip-failed" onclick="back();">返　回</a>
			  </div>
			  <div class="input-field col s6 m6 l6 tip-success">
			  	<a href="javascript:void(0);" class="btn waves-effect waves-light col s12" onclick="back();">返　回</a>
			  </div>
			  <div class="input-field col s6 m6 l6 tip-success">
		        <a href="javascript:void(0);" class="btn waves-effect waves-light col s12" onclick="toMailCenter();">登录邮箱</a>
			  </div>
			</div>
			<input type="hidden" name="callback" id="callback" value="{$callback}">
			<input type="hidden" name="appId" id="appId" value="{$appId}">
	      </form>
	    </div>
	  </div>
	<script type="text/javascript" src="__PUBLIC__/js/jquery-1.11.0.min.js"></script>
 	<script type="text/javascript" src="__PUBLIC__/js/materialize.min.js"></script>
</body>
</html>