<!doctype html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Material Login </title>
	<!-- <link rel="stylesheet" type="text/css" href="css/normalize.css" /> -->
	<link rel="stylesheet" href="__PUBLIC__/css/default.css" type="text/css">
	<link rel="stylesheet" href="__PUBLIC__/css/materialize.min.css">
	<link rel="stylesheet" href="__PUBLIC__/css/grid.css">
	<style type="text/css">
	html,body {
	    height: 100%;
	}
	html {
	    display: table;
	    margin: auto;
	}
	body {
	    display: table-cell;
	    vertical-align: middle;
	}
	.margin {
	  margin: 0 !important;
	}
	</style>
	<!--[if IE]>
		<script src="http://libs.useso.com/js/html5shiv/3.7/html5shiv.min.js"></script>
	<![endif]-->
</head>
<body class="red">
  <div id="login-page" class="row">
	<div class="col s12 z-depth-6 card-panel">
	  <form class="login-form">
	    <div class="row">
          <div class="input-field col s12 center">
            <img src="__PUBLIC__/img/logo.png" alt="" class="responsive-img valign profile-image-login index-icon">
            <p class="center login-form-text">Material Design 用户登录系统</p>
          
          </div>
	    </div>
	    <div class="row margin">
          <div class="input-field col s12">
            <i class="mdi-action-lock-outline prefix"></i>
            <input id="password" type="password">
            <label for="password">设置密码</label>
          </div>
        </div>
        <div class="row margin">
          <div class="input-field col s12">
            <i class="mdi-action-lock-outline prefix"></i>
            <input id="password" type="password">
            <label for="password">再次确认</label>
          </div>
        </div>
        <!-- <div class="row">          
          <div class="input-field col s12 m12 l12  login-text">
              <input type="checkbox" id="remember-me" />
              <label for="remember-me">记住我</label>
          </div>
        </div> -->
        <div class="row">
          <div class="input-field col s12">
            <a href="index.html" class="btn waves-effect waves-light col s12">确　认</a>
          </div>
        </div>
        <div class="rows">
          <div class="input-field col s6 m6 l6">
            <p class="margin medium-small"><a href="{:U('Home/Server/register')}">现在注册!</a></p>
          </div>
          <div class="input-field col s6 m6 l6">
            <p class="margin right-align medium-small"><a href="{:U('Home/Server/fast_login')}">快捷登录</a></p>
          </div>          
        </div>
        <div class="row group">
			 <div class="tagline"><span>第三方登录</span></div><!-- .tagline -->
		</div>
		<div class="row group">
		  <div class="col span_12_of_12 center">
			<a href="#"><img class="third-icon" src="__PUBLIC__/img/weixin.png"></a>
			<a href="#"><img class="third-icon" src="__PUBLIC__/img/68-sina-weibo.png" ></a>
			<a href="#"><img class="third-icon" src="__PUBLIC__/img/taobao.png" ></a>
			<a href="#"><img class="third-icon" src="__PUBLIC__/img/qq.png" ></a>
			<a href="#"><img class="third-icon" src="__PUBLIC__/img/didi.png" ></a>
			<a href="#"><img class="third-icon" src="__PUBLIC__/img/baidu.png" ></a>
			<a href="#"><img class="third-icon" src="__PUBLIC__/img/dianping.png" ></a>
		  </div>
		</div>
	  </form>
	</div>
  </div>
  <script type="text/javascript" src="__PUBLIC__/js/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="__PUBLIC__/js/materialize.min.js"></script>
</body>
</html>